/*how to create variables in css*/
:root {
  --yellow: #ffe959;
  --purple: #4e008e;
  --light-blue: #68dcfa;
}

/* Reset CSS para garantir consistência entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definindo a fonte Hackman - Regular */
@font-face {
  font-family: "Hackman";
  src: url("/LP-1/assets/fonts/HackmanTrial-Regular-BF65124612c40af.woff")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Definindo a fonte Hackman - Bold */
@font-face {
  font-family: "hackmanbold";
  src: url("/LP-1/assets/fonts/HackmanTrial-Bold-BF6512461345805.woff")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Definindo a fonte Hackman - Thin */
@font-face {
  font-family: "hackmanthin";
  src: url("/LP-1/assets/fonts/HackmanTrial-Thin-BF6512461354104.woff")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Definindo a fonte Hackman - Extralight */
@font-face {
  font-family: "hackmanextralight";
  src: url("/LP-1/assets/fonts/HackmanTrial-ExtraLight-BF651246130a5c3.woff")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Definindo a fonte Hackman - Light */
@font-face {
  font-family: "hackmanlight";
  src: url("/LP-1/assets/fonts/HackmanTrial-Light-BF6512461336ec3.woff")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Definindo a fonte Hackman - Normal */
@font-face {
  font-family: "hackmannormal";
  src: url("/LP-1/assets/fonts/HackmanTrial-Medium-BF65124612f0673.woff")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Utilizando a fonte Hackman no corpo do texto */
body {
  font-family: "Hackman", sans-serif;
  color: var(--purple);
  font-size: 16px;
  font-weight: 400;
}

/* Exemplos de uso com diferentes estilos */
.regular-text {
  font-weight: normal;
}

.bold-text {
  font-weight: bold;
}

.thin-text {
  font-weight: 100;
}

.normal-text {
  font-weight: normal;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/* Container centralizado com largura máxima de 1240px */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px; /* Espaçamento lateral */
}

/* Layout responsivo */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col {
  flex: 1;
  padding: 15px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

p {
  line-height: 19.2px;
}

img {
  width: 100%;
  height: auto;
}

#link {
  padding: 15px 8px;
  border-radius: 5px;
  font-weight: normal;
  text-align: center;
}

/* Sections */
section#banner-video {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#banner-video h2 {
  color: #fff;
  font-family: "hackmanbold", sans-serif;
}

#banner-video h2 span {
  font-family: "hackmanthin", sans-serif;
}

#banner-video #description {
  color: var(--yellow);
  font-family: "hackmanextralight", sans-serif;
}

#pneus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pneus .mobile {
  display: block;
}

#pneus .desktop {
  display: none;
}

#pneus #link {
  background-color: var(--light-blue);
  color: var(--purple);
}

#pneus h3 {
  font-weight: normal;
  font-family: "hackmanlight", sans-serif;
  padding: 19px 0 0 0;
}

#pneus p {
  font-family: "hackmanlight", sans-serif;
}

#pneus p,
#pneus span.desktop {
  padding: 16px 0 0 0;
}

#pneus h3 b {
  font-family: "hackmanbold", sans-serif;
}

.mobile-banner {
  display: block;
  width: 100%;
  height: auto;
}

#button {
  margin: 16px 0 30px;
  display: flex;
  justify-content: center;
}

section#entrega-eficiente {
  padding: 40px 0;
}

#compra-facil h2,
#entrega-eficiente h2 {
  color: var(--light-blue);
  font-weight: normal;
}

div#desc-compra-facil p,
div#desc-entrega-eficiente p {
  font-family: "hackmanlight", sans-serif;
  margin-top: 16px;
}

div#img-compra,
div#img-entrega {
  align-items: flex-start;
}

div#img-compra div,
div#img-entrega div {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div#img-compra div span {
  font-size: 24px;
  line-height: 28px;
}

div#img-entrega div span {
  font-size: 20px;
  line-height: 24px;
}

div#img-compra div span,
div#img-entrega div span {
  font-weight: bold;
  font-family: "hackmanlight", sans-serif;
  letter-spacing: 1px;
}

div#todos-beneficios {
  text-align: center;
  font-family: "hackmanthin";
  margin-top: 40px;
}

.bg-purple {
  background-color: var(--purple);
  color: #fff;
}

.bg-light-blue {
  background-color: var(--light-blue);
  color: #fff;
}

#pneus-sao-importantes #icon-desc {
  background-color: #fff;
  border-radius: 5px;
  padding: 28px 55px;
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--purple);
  text-align: center;
  justify-content: space-between;
  font-family: "hackmanlight", sans-serif;
}

#pneus-sao-importantes #icon-desc img {
  max-width: 70px;
}

div#backgrounds .container:nth-child(2),
div#backgrounds .container:nth-child(3) {
  height: 250px;
}

div#backgrounds .container:nth-child(1) {
  height: 360px;
  padding-top: 16px;
}

div#backgrounds .container:nth-child(1) p {
  font-family: "hackmanlight", sans-serif;
  line-height: 19.2px;
  margin-top: 16px;
}

div#backgrounds .container:nth-child(4) {
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 42px;
}

div#backgrounds .container:nth-child(4) p {
  font-family: "hackmanlight", sans-serif;
  color: var(--purple);
  font-size: 16px;
  line-height: 19.2px;
  margin-bottom: 30px;
}

div#desvalorizacao-de-carro,
div#manutencao-do-veiculo {
  position: relative;
  display: flex;
  gap: 25px;
  flex-direction: column;
  color: var(--yellow);
  text-align: center;
}

div#backgrounds .container:nth-child(2) :nth-child(1) {
  top: -155px;
}

div#backgrounds .container:nth-child(2) :nth-child(2) {
  top: -80px;
}

#pneus-sao-importantes img#arrow-down {
  width: 45px;
  position: absolute;
  top: 225px;
  right: 15px;
}

#pneus-sao-importantes #link {
  background-color: var(--purple);
  color: var(--yellow);
}

#pneus-de-todos-tipos p,
#pneus-de-todos-tipos #icon-desc p,
#pneus-de-todos-tipos .row {
  font-family: "hackmanlight", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
}

#pneus-de-todos-tipos p {
  margin: 40px 0;
}

#pneus-de-todos-tipos .row {
  width: 100%;
}

#pneus-de-todos-tipos #icon-desc {
  padding: 28px 55px;
  height: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--purple);
  color: var(--yellow);
  text-align: center;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
}

#pneus-de-todos-tipos .col-md-6,
#pneus-de-todos-tipos .row {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

#pneus-de-todos-tipos .col-md-6 {
  gap: 20px;
  width: 100%;
}

img#verified {
  width: 100%;
  max-width: 50px;
  position: absolute;
  top: -20px;
  right: 30px;
}

#pneus-de-todos-tipos #icon-desc img {
  max-height: 70px;
}

section#pneus-de-todos-tipos .col {
  text-align: center;
}

section#pneus-de-todos-tipos .col h2 {
  font-family: "hackmanbold", sans-serif;
}

section#pneus-de-todos-tipos .col p {
  color: var(--light-blue);
}

section#pneus-de-todos-tipos #anuncios {
  flex-direction: row;
}

section#pneus-de-todos-tipos #anuncios p {
  margin: 12px;
}

section#pneus-de-todos-tipos #anuncios img {
  max-height: 30px;
  width: fit-content;
}

section#pneus-de-todos-tipos .container > h3 {
  margin: 40px 0;
  text-align: center;
}

section#pneus-de-todos-tipos #link {
  background-color: var(--purple);
  color: var(--yellow);
}

/* Classes específicas para diferentes tamanhos de tela */
@media (min-width: 992px) {
  /* Desktop */
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  h3 {
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 5px;
  }

  #link {
    font-size: 18px;
    line-height: 21.6px;
    padding: 13px 19px;
  }

  section#banner-video {
    background-image: url("img/video-desktop.svg");
    height: 600px;
  }

  .mobile-banner {
    display: none;
  }

  #banner-video h2 {
    font-size: 40px;
  }

  #banner-video #description {
    font-size: 24px;
  }

  #text_pneus {
    flex: 0 0 45%;
    max-width: 45%;
  }

  #pneus {
    justify-content: center;
    flex-direction: column;
  }

  #pneus .mobile {
    display: none;
  }

  #pneus .desktop {
    display: block;
    margin-top: 8px;
  }

  div#desc-compra-facil span,
  div#desc-entrega-eficiente span {
    font-weight: bold;
  }

  div#todos-beneficios {
    text-align: center;
    font-family: "Hackman", sans-serif;
    margin-top: 48px;
  }

  div#backgrounds .container:nth-child(1) h2,
  div#backgrounds .container:nth-child(1) p {
    max-width: 470px;
  }

  div#backgrounds .container:nth-child(1) {
    margin-bottom: 50px;
  }

  div#backgrounds .container:nth-child(2) :nth-child(1),
  div#backgrounds .container:nth-child(2) :nth-child(2) {
    top: 0;
  }

  .bg-purple,
  .bg-light-blue {
    background: none;
  }

  section#pneus-sao-importantes {
    background: linear-gradient(
      #4e008e 0%,
      #4e008e 40%,
      #68dcfa 30%,
      #68dcfa 70%
    );
    padding-top: 52px;
  }

  div#backgrounds .container:nth-child(2) {
    width: 60%;
  }

  #pneus-sao-importantes #icon-desc {
    width: 95%;
  }

  div#desvalorizacao-de-carro,
  div#manutencao-do-veiculo {
    align-items: center;
  }

  #pneus-sao-importantes img#arrow-down {
    right: 30px;
  }

  div#backgrounds .container:nth-child(n) {
    height: fit-content;
  }

  div#backgrounds .container:nth-child(4) p {
    font-size: 24px;
    line-height: 28.8px;
    max-width: 700px;
    text-align: center;
  }

  div#backgrounds .container:nth-child(4) {
    align-items: center;
    margin-top: 50px;
  }

  #pneus-sao-importantes .container p span {
    font-weight: bold;
  }

  div#backgrounds .container:nth-child(1) p {
    font-size: 20px;
    line-height: 24px;
  }

  #pneus-de-todos-tipos p:nth-child(1) {
    max-width: 610px;
  }

  #pneus-de-todos-tipos p:nth-child(1) span {
    font-weight: bold;
  }

  #pneus-de-todos-tipos .col-md-6,
  #pneus-de-todos-tipos .row {
    flex-direction: row;
    gap: 35px;
  }

  #pneus-de-todos-tipos .col-md-6 {
    max-width: 100%;
  }

  #pneus-de-todos-tipos #icon-desc {
    width: 410px;
  }

  img#verified {
    right: -20px;
  }

  section#pneus-de-todos-tipos .col h2 {
    max-width: 450px;
    margin: 30px auto 10px;
  }

  section#pneus-de-todos-tipos .col p {
    margin: auto;
    font-size: 24px;
    line-height: 28.8px;
  }

  section#pneus-de-todos-tipos #anuncios img {
    width: 60px;
  }

  section#pneus-de-todos-tipos #anuncios p span {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  section#pneus-de-todos-tipos .container > h3 {
    font-size: 24px;
    line-height: 28.8px;
    font-family: 'hackmanthin', sans-serif;
  }

  section#pneus-de-todos-tipos .container > h3 span {
    font-family: "Hackman";
    font-weight: 100;
  }
}

@media (max-width: 991.98px) {
  /* Dispositivos móveis */
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #desc_video,
  .desktop {
    display: none;
  }

  section#banner-video {
    background: none;
  }
}
